/*todo: comment next styles before release*/
.anychart-credits {
    display: none;
}

a {
    color: #757575;
}

.title {
    font-size: 20px;
    display: inline-block;
    color: #242527;
    padding-bottom: 0;
}

.subtitle {
    font-size: 15px;
    color: #545f69;
    display: inline-block;
    padding-bottom: 15px;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

ul.period-selector {
    list-style: none;
    text-align: center;
    margin: 0;
    width: 100%;

}

ul.period-selector li {
    padding: 0 40px;
    margin: 0;
    display: inline-block;
}

.period-selector p {
    padding: 10px 40px;
    margin: 0;
}

.demo-charts {
    padding: 20px 30px 20px 30px;
}

.chart {
    width: 100%;
}

.demo-charts h2 {
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    width: 100%;
    color: #6C6C6C;
}

.demo-charts h2 span {
    font-size: 11px;
    color: #929292;
    font-family: 'Verdana', Helvetica, Arial, sans-serif;
}

.demo-charts h2 a {
    cursor: pointer;
    color: #A8A8A8;
}

.demo-charts h2 a:hover {
    text-decoration: underline;
}

.light-text {
    color: #A8A8A8;
}

.label-chart {
    padding-top: 10px;
}

.demo-charts h2 span.category-name, .demo-charts h2 span.product-name{
    color: #212121;
    /*font-weight: bold;*/
    text-decoration: underline;
    font-size: 18px;
}

.space-divider {
    width: 100%;
    display: block;
    height: 10px;
}