.anychart-credits {
    display: none;
}

html {
    min-height: 100%;
}

body {
    font-family: 'Verdana', Helvetica, Arial, sans-serif;
    min-height: 100%;
    background: #fff;
}

a {
    color: #757575;
}
.modal{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    /*position: absolute;*/
}

.modal h4{
    font-size: 22px;
    font-weight: bold;
}
.modal .modal-body h4{
    color: #545f69;
    font-size: 20px;
    margin: 20px 0 5px 0;
}
.modal .modal-body{
    overflow: scroll;
    padding: 30px;
}
.modal, .modal-dialog, .modal-open{
    overflow: scroll !important;
}
.modal p{
    color: #545f69;
    font-size: 16px;
    font-weight: normal;
}
.modal a{
    color: #64b5f6;
}
.modal a:hover{
    color: #1976d2;
    text-decoration: none;
}
.modal p.important{
    color: #212121;
    font-size: 18px;
    font-weight: normal;
}
ul.list-default{
    list-style: disc;
    margin-bottom: 20px;
    margin: 0;
}
.modal .text-muted{
    color: #7c868e;
    font-style: italic;
}
.modal-title .light-text{
    font-weight: normal;
}
.divider {
    width: 100%;
    height: 30px;
}

.submenu {
    margin-right: 30px;
}

.submenu a {
    padding: 0 10px;
    margin-top: 5px;
}

.submenu a .fa {
    font-size: 20px;
    color: #7c868e;
}

.submenu .dropdown-menu a {
    color: #545f69;
}

.submenu .dropdown-menu a .fa {
    font-size: 16px;
}

.switcher {
    cursor: pointer;
    font-size: 22px;
    margin-right: 10px;
    color: #7c868e;
}

.switcher:hover {
    color: #7c868e;
}

.light-text {
    color: #A8A8A8;
}
.bright-text {
    color: #212121;
}

h1.title {
    text-align: left;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    width: 100%;
    color: #545f69;
}

.global-shadow {
    z-index: 15;
    background-color: #000000;
    opacity: 0.7;
    display: none;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
    position: absolute;
    width: 100%;
    height: 100%;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #EAEAEA;
}

.dashboard-limitation {
    max-width: 1200px;
}

.title-dashboard-panel {
    background-color: #EBEBEB;
    border: 1px solid #EAEAEA;
    border-radius: 0;
    padding: 7px 20px 7px;
    -webkit-box-shadow: 3px 3px 3px -1px rgba(124, 134, 142, 0.4);
    -moz-box-shadow: 3px 3px 3px -1px rgba(124, 134, 142, 0.4);
    box-shadow: 3px 3px 3px -1px rgba(124, 134, 142, 0.4);
    z-index: 10;
    position: relative;
    margin: 0;
}

.menu-dashboard-panel {
    min-height: 100%;
    position: absolute;
    top: 0;
    z-index: 5;
    min-width: 250px;
    left: -250px;
}

.menu-wrapper {
    width: 230px;
    right: 30px;
    display: block;
    min-height: 100%;
    position: absolute;
    background-color: #f6f6f6;
    border: 1px solid #EAEAEA;
    border-radius: 0;
    padding: 20px 0 0 0;
    -webkit-box-shadow: 3px 3px 3px -1px rgba(124, 134, 142, 0.2);
    -moz-box-shadow: 3px 3px 3px -1px rgba(124, 134, 142, 0.2);
    box-shadow: 3px 3px 3px -1px rgba(124, 134, 142, 0.2);
}

.menu-wrapper li {
    text-align: right;
}

.menu-wrapper li a .fa {
    width: 20px
}

.menu-wrapper .period-selector li {
    padding: 0 20px 5px 0;
}

.menu-wrapper .compressed li a {
    padding: 0 20px 5px 0;
    color: #212121;
}

.menu-wrapper .compressed li a:hover {
    color: #B0B6BB;
}

.menu-wrapper li a {
    color: #7c868e;
    cursor: pointer;
    font-weight: normal;
    width: 230px;
    display: inline-block;
    padding: 7px 20px;
}

.menu-wrapper li a.active, .menu-wrapper li a.active:hover {
    background: #7c868e;
    color: #F7F7F7;
    text-decoration: none;
    margin-left: -1px;
}

.menu-wrapper li a:hover {
    color: #212121;
    text-decoration: none;
}

.menu-wrapper li label span {
    color: #7c868e;
    cursor: pointer;
    font-weight: normal;
    margin-right: 5px;
}

.menu-wrapper li label span:hover {
    color: #212121;
    text-decoration: none;
}

.dashboard-credits {
    position: absolute;
    right: 20px;
    bottom: 5px;
    font-family: 'Source Sans Pro', sans-serif;
}

.dashboard-credits a {
    font-size: 11px;
    line-height: 12px;
    color: #929292;
}

.dashboard-credits a:hover {
    text-decoration: none;
}

.dashboard-credits img {
    height: 12px;
}

.content {
    padding-top: 20px
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

.chart-block {
    padding: 0 20px 5px 20px;
    margin: 3px 0 15px 0;
    box-shadow: 0 1px 2px rgba(43,59,93,0.29);
}

h2.chart-title {
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    min-height: 23px;
    margin: 0;
    padding: 10px 0 0 0;;
    width: 100%;
    color: #7c868e;
}

h2.chart-title span {
    font-size: 11px;
    color: #929292;
    display: inline-block;
}

h2.chart-title span.text-muted {
    line-height: 12px;
    margin-top: 4px;
}

h2.chart-title h2 a {
    cursor: pointer;
    color: #A8A8A8;
}

h2.chart-title a:hover {
    text-decoration: underline;
}

.chart {
    width: 100%;
}

h2.chart-title span.category-name,
h2.chart-title span.product-name,
h2.chart-title span.region-name,
h2.chart-title span.person-name {
    color: #212121;
    font-style: italic;
    font-size: 16px;
    line-height: 20px;
    text-transform: none;
}
.loader-text{
    line-height: 30px;
    margin-top: 40px;
}
.loader-text span{
    display: inline-block;
    font-size: 20px;
}
.icon-spin-reverse {
  -moz-animation: spin 2s infinite linear reverse;
  -o-animation: spin 2s infinite linear reverse;
  -webkit-animation: spin 2s infinite linear reverse;
  animation: spin 2s infinite linear reverse;
}

.dropdown-menu>li>a {
    padding: 0 20px;
    cursor: pointer;
}
.no-padding{
    padding: 10px 10px 0 0;
}
@media (min-width: 1200px) {
    .menu-dashboard-panel {
        left: 0
    }

    .menu-wrapper {
        padding-top: 60px;
    }
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 80%;
        margin: 30px auto;
    }
}